@{
    ViewData["Title"] = "Home Page";
    var Pessoas = ViewBag.Pessoas as List<Pessoa>;
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" asp-append-version="true" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" asp-append-version="true"></script>
<table class="table" name="tableClientes" id="tableClientes">
    <colgroup>
        <col style="width:auto" />
        <col style="width:auto" />
        <col style="width:auto" />
        <col style="width:auto" />
        <col style="width:auto" />
        <col style="width:8%" />
        <col style="width:8%" />
        <col style="width:8%" />
        <col style="width:8%" />
    </colgroup>
    <thead>

        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Tipo</th>
            <th>Empresa</th>
            <th></th>
            <th></th>
            <th><a class="btn btn-success btncadastro" asp-action="Add" asp-controller="Pessoas">Cadastrar</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Pessoa in Pessoas)
        {
            var acesso = Pessoa.Acessos.LastOrDefault();
            <tr>
                <td>@Pessoa.Id</td>
                <td>@Pessoa.Nome</td>
                <td>@Pessoa.CPF</td>
                <td>@ExtensionsClass.GetEnumDisplayName(Pessoa.Tipo)</td>
                <td>@Pessoa.Empresa</td>
                <td><a class="btn btn-success btncadastro" asp-action="Index" asp-controller="Access" asp-route-id="@Pessoa.Id">Acessos</a></td>
                <td><a class="btn btn-danger btncadastro" asp-action="Edit" asp-controller="Pessoas" asp-route-id="@Pessoa.Id">Editar</a></td>
                @if (acesso == null || acesso.DataHoraSaida != null)
                {
                    <td><button class="btn btn-primary btncadastro" btnEntrada pessoaID="@Pessoa.Id">Registrar Entrada</button></td>
                }
                else
                {
                    <td><button class="btn btn-secondary btncadastro" btnSaida pessoaID="@Pessoa.Id">Registrar Saida</button></td>
                }
            </tr>
        }
    </tbody>
</table>
<script src="~/js/Home/Index.js" asp-append-version="true"></script>
<script src="/lib/sweetalert2/sweetalert2.all.min.js" asp-append-version="true"></script>
