@{
    ViewData["Title"] = "Home Page";
    var Pessoas = ViewBag.Pessoas as List<Pessoa>;
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" asp-append-version="true" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" asp-append-version="true"></script>
<table class="table" name="tableClientes" id="tableClientes">
    <colgroup>
        <col style="width:auto" />
        <col style="width:auto" />
        <col style="width:auto" />
        <col style="width:auto" />
        <col style="width:auto" />
        <col style="width:8%" />
        <col style="width:8%" />
        <col style="width:8%" />
        <col style="width:8%" />
    </colgroup>
    <thead>

        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Tipo</th>
            <th>Empresa</th>
            <th></th>
            <th></th>
            <th></th>
            <th><a class="btn btn-success btncadastro" asp-action="Add" asp-controller="Pessoas">Cadastrar</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var Pessoa in Pessoas)
        {
            <tr>
                <td>@Pessoa.Id</td>
                <td>@Pessoa.Nome</td>
                <td>@Pessoa.CPF</td>
                <td>@Pessoa.Tipo</td>
                <td>@Pessoa.Empresa</td>
                <td><button class="btn btn-success btncadastro">Detalhes</button></td>
                <td><button class="btn btn-danger btncadastro">Editar</button></td>
                <td><button class="btn btn-primary btncadastro">Registar Entrada</button></td>
                <td><button class="btn btn-secondary btncadastro">Registrar Saida</button></td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/Home/Index.js" asp-append-version="true"></script>
